<script type="text/javascript">
  $(function () {
    /*  $('.modal-trigger').click(function () {
      var message = $(this).parents('tr').find('.request_response_container').html();
      $('.modal .content').html(message);
      $('.modal').modal('show');
    });
*/
  });
</script>
<div class="ui breadcrumb">
  <a class="section">Dashboard</a>
  <div class="divider">
    /
  </div>
</div>
<div class="ui segment">
  <div class="ui grid">
    <div class="eight wide column">
      <h2>Incoming Requests</h2>
    </div>
  </div>

  <table class="ui red celled unstackable table">
    <thead>
      <tr>
        <th>Employee</th>
        <th>Type</th>
        <th>Starting</th>
        <th>Ending</th>
        <th>Days</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <%@requests.each do |request| %>
      <tr class="<%='positive' if request.approved? %>
                 <%='negative' if request.denied? %>">
        <td>
          <strong><%= request.user.name %></strong>
          <p class="detail"><%= request.user.position %></p>
        </td>
        <td>
          <strong><%= t "request_absense_type.#{request.absense_type}" %></strong>
          Absense</td>
        <td>
          <% if request.partial? %>
          <strong><%= l request.starting.to_date, format: :long  %></strong>
          -
          <strong><%= l request.starting, format:  '%H:%M'  %></strong>
        <% else %>
          <strong><%= l request.starting.to_date, format: :long %></strong>
          <% end %>

        </td>
        <td>
          <% if request.partial? %>
          <strong><%= l request.ending, format: '%H:%M'  %></strong>
        <% else %>
          <strong><%= l request.ending.to_date, format: :long %></strong>
          <% end %>
        </td>
        <td class="collapsing center aligned">
          <% unless request.partial? %>
          <a class="ui circular label"><%= request.days_off %>

          </a>
          <% end %>
        </td>

        <td >
          <strong><%= I18n.t "request_status.#{request.status}" %></strong>
        </td>
        <td class="collapsing">
          <div class="request_response_container" style="display:none"><%= request.response %></div>
          <% if request.requested? %>
          <a href="<%= request_path(request) %>" class="ui tiny basic  button modal-trigger">
            <i class="unhide icon"></i>
            View
          </a>
          <% end %>
        </td>
      </tr>
      <% end %>

    </tbody>
  </table>
</div>
