<script type="text/javascript">
  $(function () {
    $('.ui.radio.checkbox').checkbox();
    $('.ui.dropdown').dropdown();
  });
</script>

<div class="ui breadcrumb">
  <a class="section" href="/">Dashboard</a>
  <div class="divider">
    /
  </div>
  <div class="active section">Validate Request</div>
</div>

<div class="ui segments">
  <div class="ui segment">

    <h4 class="ui image header">
      <img src="/chris.png" class="ui mini rounded image">
      <div class="content">
        <%= @request.user.name %>
        <div class="sub header">
          <%= @request.user.position %>
        </div>
      </div>
    </h4>
  </div>
  <div class="ui segment">

    <div class="ui form">

      <div class="fields">
        <div class="field">
          <label>Absense Type</label>
          <a class="ui label"><%= t "request_absense_type.#{@request.absense_type}" %>
            Absense
          </a>
        </div>
      </div>

      <div class="fields">
        <% if @request.partial? %>

        <div class="field">
          <label>Date</label>
          <%= l @request.starting.to_date, format: :long  %>
        </div>
        <div class="field">
          <label>Starting</label>
          <%= l @request.starting, format:  '%H:%M'  %>
        </div>
        <div class="field">
          <label>Ending</label>
          <%= l @request.ending, format:  '%H:%M'  %>
        </div>

      <% else %>

        <div class="field">
          <label>Starting</label>
          <%= l @request.starting.to_date, format: :long  %>
        </div>
        <div class="field">
          <label>Ending</label>
          <%= l @request.ending.to_date, format: :long  %>
        </div>
        <div class="field">
          <label>Working Days</label>
          <a class="ui tiny label"><%= @request.days_off %></a>
        </div>

        <% end %>

      </div>

      <div class="fields">
        <div class="field">
          <label>Description</label>
          <div><%= @request.description %></div>
        </div>
      </div>

    </div>

  </div>

  <div class="ui segment">
    <%= form_for(@request) do |f| %>
    <div class="ui form">

      <div class="ui error message">
        <div class="header">Please fix the following errors</div>
        <ul class="list">
          <% @request.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>

      <div class="field">
        <label>Reply comment</label>
        <%= f.text_area :response, rows:5 %>
      </div>
      <div class=" content">
        <div class="ui  buttons">
          <%= f.submit 'Approve' , class: 'ui positive  submit button', name: 'approve' %>
          <div class="or"></div>
          <%= f.submit 'Deny' , class: 'ui negative  submit button',name:'deny' %>
        </div>
      </div>
    </div>
    <% end %>
  </div>

</div>
</div>
