<script type="text/javascript">
  $(function () {
    $('.ui.radio.checkbox').checkbox();
    $('.ui.dropdown').dropdown();
  });
</script>

<div class="ui segments">
  <div class="ui segment">

    <h4 class="ui image header">
      <img src="/chris.png" class="ui mini rounded image">
      <div class="content">
        <%= @request.user.name %>
        <div class="sub header">  <%= @request.user.position %>
        </div>
      </div>
    </h4>
  </div>
  <div class="ui segment">

    <div class="ui form">

      <div class="fields">
        <div class="field">
          <label>Absense Type</label>
          <a class="ui label">Full Absene</a>
        </div>
      </div>
      <div class="fields">
        <div class="field">
          <label>From</label>
          <%= @request.starting %>
          Friday, 19 February 2016
        </div>
        <div class="field">
          <label>To</label>
          <%= @request.ending %>
          Tuesday, 23 February 2016
        </div>
        <div class="field">
          <label>Days</label>
          <a class="ui tiny label">10</a>
        </div>
      </div>
      <div class="fields">
        <div class="field">
          <label>Description</label>
          <div><%= @request.description %></div>
        </div>
      </div>

    </div>

  </div>

  <div class="ui segment">
    <%= form_for(@request) do |f| %>
    <div class="ui form">

      <div class="field">
        <label>Reply comment</label>
        <%= f.text_area :response, rows:5 %>
      </div>
      <div class=" content">
        <div class="ui  buttons">
          <div class="ui positive  submit button">Approve</div>
          <div class="or"></div>
          <div class="ui negative submit  button">Deny</div>
        </div>
      </div>
    </div>
    <% end %>
  </div>

</div>
</div>
