<!DOCTYPE html>
<html>
  <head>
    <title>ARVSM | Absence Request and Vacation Schedule Management</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/icon.min.css'>
    <style type="text/css">
      body {
        background-color: #DADADA;
      }

    </style>

  </head>
  <body>
    <div class="ui container">
      <% if logged_in? %>
      <div id="menus" class="ui  inverted black menu">
        <div class="header item">
          AVRSM
        </div>
          <%= link_to "My Requests", root_path,
                      class:'ui red item' %>

          <%= link_to "Incoming Requets", incoming_path,
                      class:'ui red item' if current_user.is_manager? %>



        <div class="right menu">
          <div class="vertically fitted red item">
      <%=current_user.name %>
    </div>
         <%= link_to "Log out", logout_path, method: :delete,class:'ui item' %>
        </div>
      </div>
    <% else %>

      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
